<form (ngSubmit)="saveOrUpdate()" [formGroup]="formulario">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="nome">Nome do Cartão <span style="color: red;">*</span></label>
      <input type="text" id="nome" name="nome" class="form-control" formControlName="nome">
      <input type="hidden" id="idCartaoCredito" name="idCartaoCredito" class="form-control" formControlName="idCartaoCredito">
    </div>
    <div class="form-group col-md-4" formGroupName="contaCorrente">
      <label for="idContaCorrente">Conta Padrão de Pagamento</label>
      <select type="text" id="idContaCorrente" name="idContaCorrente" class="form-control" formControlName="idContaCorrente">
        <option value="">Selecione...</option>
        <option *ngFor="let conta of contaCorrenteArray" value="{{conta.idContaCorrente}}">{{conta.nome}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="bandeira">Bandeira</label>
      <select type="text" id="bandeira" name="bandeira" class="form-control" formControlName="bandeira">
        <option value="">Selecione...</option>
        <option value="MASTECARD">MASTECARD</option>
        <option value="VISA">VISA</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="diaFechamento">Dia Fechamento <span style="color: red;">*</span></label>
      <input type="number" id="diaFechamento" name="diaFechamento" class="form-control" formControlName="diaFechamento">
    </div>
    <div class="form-group col-md-4">
      <label for="diaVencimento">Dia Vencimento <span style="color: red;">*</span></label>
      <input type="number" id="diaVencimento" name="diaVencimento" class="form-control" formControlName="diaVencimento">
    </div>
    <div class="form-group col-md-4">
      <label for="valorLimiteCredito">Limite de Crédito</label>
      <input type="number" id="valorLimiteCredito" name="valorLimiteCredito" class="form-control" formControlName="valorLimiteCredito">
    </div>
  </div>
  <div class="row" style="float: right; padding-top: 10px;">
    <div style="padding-top: 10px;">
      <span style="padding-right: 10px;"><button type="button" class="btn" (click)="closeDialog()">Cancelar</button></span>
      <button type="submit" class="btn btn-primary" style="background: #2094F0; border: 1px solid #2094F0" ><i class="pi pi-save saveIcon" style="padding-right: 5px;"></i>Salvar</button>
    </div>
  </div>
  <span style="color: red;">* campos obrigatorios em vermelhor</span>
</form>
